.service{
    padding: 20px;
    background-color: rgb(241, 246, 251);
}

.service-types {
    display: flex;
    margin: auto;
    margin-top: 30px;
    gap: 30px;
    justify-content: space-between;
    width: 80%;
    height: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
}

.service-types div p{
    text-align: justify;
    max-width: 650px;
    line-height: 27px;
}

.experts-container {
    max-width: 1150px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.experts-container h2 {
    color: #3a3a3a;
    font-size: 20px;
    margin-bottom: 10px;
}

.experts-banner p {
    font-size: 15px;
    color: #555;
    margin-bottom: 10px;
}

.experts-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.expert-box {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    min-width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.expert-box img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile h4 {
    margin: 0;
    font-size: 16px;
}

.expert-box p {
    margin: 0;
    color: #777;
    font-size: 14px;
}

.expert-box a:hover{
    cursor: pointer;
    color: goldenrod;
}

.rating {
    margin-top: 10px;
    color: #ff9900;
    font-size: 16px;
}

.author {
    text-align: right;
    margin-right: 3rem;
}
@media (max-width: 768px) {
  .service-types {
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 15px;
  }

  .service-types  div {
    width: 100%;
    text-align: center;
  }

  .service-types img {
    order: -1; 
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: block;
  }

  .service-types div p {
    max-width: 100%;
    padding: 10px 0;
    text-align: justify;
  }
}

